.mem_wrap{
    padding-left:0px;
}

.mem_title{
    font-weight:bold;
    font-family:'맑은 고딕';
    font-size:16px;

    padding-top:15px;
}

.board_total {
	width:1000px;
	margin-top:25px;
	font-size:12px;
	font-weight:bold;
}

.board_tbl_top {
	width:1000px;
	height:2px;
	background:#555;
	margin-top:3px;
	margin-bottom:2px;
}

.board_tbl{
    width:700px;
    border-top:0px solid #ddd;
    border-bottom:1px solid #ddd;
    border-collapse:collapse;
}

.board_tbl th{ 
    width:150px;
    font-size:12px;
    font-family:'맑은 고딕';
    background-color:#f6f6f6;
    border-bottom:1px solid #ddd;
    padding-left:10px;
    padding:5px;
}

.board_tbl td{
    font-size:12px;
    font-family:'맑은 고딕';
    text-align:center;
    border-bottom:1px solid #ddd;
    padding-left:10px;
    padding-bottom:5px;
    padding-top:5px;

}

.div_page {
	width:700px;
	margin-top:10px;
	text-align:center;
	font-size:12px;
}
.div_search {
	margin-top:15px;
	font-size:12px;
}


.mem_tbl{
    width:1000px;
    border-top:2px solid black;
    border-bottom:1px solid #ddd;
    border-collapse:collapse;
}

.mem_cap{
    font-weight:bold;
    font-family:'맑은 고딕';
    font-size:13px;
    text-align:left;
    margin-top:20px;
    margin-bottom:10px;
}


.mem_tbl th{
    width:150px;
    font-size:12px;
    font-family:'맑은 고딕';
    text-align:left;
    background-color:#f6f6f6;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px; 
}

.mem_tbl td{
    font-size:12px;
    text-align:left;
    border-bottom:1px solid #ddd;
    padding-left:10px;
    padding-bottom:5px;
    padding-top:5px;
}

.inputBox{
    background-color:#f6f6f6;
    border:1px solid #ddd;
}

.mem_str{
    font-size:13px;
}

.mem_div_btn{
    width:1000px;
    text-align:center;
    padding-top:30px;
}

.mem_btn1{
    width:120px;
    height:40px;
    border-radius: 5px;
    border:1px solid rgb(137, 197, 47);
    background-color:rgb(137, 197, 47);
    color:white;
}

.mem_btn2{
    width:120px;
    height:40px;
    border-radius: 5px;
    border:1px solid rgb(137, 197, 47);
    background-color:white;

    color:rgb(137, 197, 47);    
}